name: NodeJS with vuepro #随便起的名字

on:
  push: #在每次push时执行任务
    branches: [master] #只有在master分支上才会执行
jobs:
  build:
    runs-on: ubuntu-latest #指定构建的虚拟机版本
    steps:
      - name: Checkout #检出
        uses: actions/checkout@main #检出的依赖2
        with:
          persist-credentials: false #不保存证书
        # 给当前环境下载node
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
      - name: Cache Node Dependencies #设置依赖缓存.
        id: cache
        uses: actions/cache@v1
        with:
          path: node_modules
          key: ${{runner.os}}-npm-caches-${{ hashFiles('package-lock.json')}}
      - name: Install Dependencies #安装依赖
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          npm install --force
      - name: build project
        run: |
          npm run build
      - name: deploy file to server
        uses: easingthemes/ssh-deploy@main #dd
        env:
          REMOTE_USER: ${{ secrets.USER }} #ssh user name
          REMOTE_HOST: ${{ secrets.HOST }} #目标地址,在github secrets中设置
          REMOTE_PORT: 22 -o HostKeyAlgorithms=+ssh-rsa -o PubkeyAcceptedKeyTypes=+ssh-rsa
          ARGS: '-rlgoDzvc -i --delete'
          SSH_PRIVATE_KEY: ${{ secrets.ACCESS_TOKEN }} #github access token
          SOURCE: 'dist/' #源文件目录
          TARGET: '/data/www/blog-client' #目标文件目录
          # 上面几个参数可以在github secrets中设置,然后用secrets.的模式引用
